<strong>Olá, {{ manager }}</strong>
<p>Houve uma nova inscrição ao evento {{ title }}, confira os detalhes abaixo:</p>
<p>
  <strong>Inscrito:</strong> {{ name }}<br />
  <strong>E-mail:</strong> {{ email }}<br />
  <strong>Data/hora:</strong> {{ date }}<br />
  <br />
</p>
